@using AutoStoreLib.Models;
<div>
    <div class="container">
        <h1>Questions</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">User</th>
                    <th scope="col">Car</th>
                    <th scope="col">Title</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in (List<Question>)ViewData["Questions"])
                {
                    <tr>
                        <th scope="row">@question.Date</th>
                        <td>@question.User.FirstName @question.User.LastName</td>
                        <td>@question.Car.Name @question.Car.Year</td>
                        <td>@question.Title</td>
                        <td><a href="@Url.Action( "ViewQuestion", "Admin", new { userId = question.UserId, questionId = question.Id } )" class="btn btn-danger">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>